body {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

h2, h3 {
    margin: 0;
}

h3 {
    color: #722F37;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: center;
    margin: 0; /* Remove a margem padrão do parágrafo */
    color: #333;
}

.primeiro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 490px;
    background-image: url("../img/Tops.jpg");
    background-size: 100% auto; /* Ajusta a largura para 100%, mantendo a proporção da altura */
    background-position: center; /* Foca no topo da imagem */
    margin: 0;
    padding: 0;
    position: relative; /* Necessário para o overlay */
}

.primeiro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Escurece a imagem */
    z-index: 1; /* Coloca o overlay acima da imagem */
}

.primeiro h2 {
    color: white;
    z-index: 2; /* Garante que o texto esteja acima do overlay */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    height: auto;
    max-width: 100px;
    width: 90px;
    cursor: pointer;
}

/* Estilização das seções */
.section {
    padding: 30px 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    background-color: #F8F8F8; /* Fundo leve para as caixinhas */
    border: 1px solid #ddd; /* Borda sutil */
    border-radius: 8px; /* Canto arredondado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    max-width: 600px; /* Largura máxima das caixinhas */
    margin: 20px auto; /* Centraliza horizontalmente e adiciona espaço entre elas */
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.logo-container {
    display: flex; /* Usa flexbox para alinhar os itens */
    align-items: center; /* Alinha verticalmente os itens no centro */
    justify-content: space-between; /* Espaça os itens */
    margin-bottom: 1px;
    padding: 20px;
    background-color: #722F37;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-right: 50px; /* Ajuste para mover os links horizontalmente à direita */
}

.cardapio, .contato {
    color: rgb(225, 224, 224);
    text-decoration: none;
    margin: 0 15px; /* Margem entre os links */
    font-family: "Nunito Sans", sans-serif, helvetica, arial;
}

.logo-wrapper {
    flex: 0 0 auto; /* Garante que a logo não cresça ou encolha */
}

.separator {
    width: 2px; /* Largura da barra */
    height: 20px; /* Altura da barra */
    background-color: white; /* Cor da barra */
    margin: 0 15px; /* Margem entre os links */
    display: inline-block; /* Faz a barra se comportar como um bloco inline */
}

a:hover {
    text-decoration: underline;
}

.letra_imagem {
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(50px); /* Posicionado abaixo do lugar final */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Animação */
}

.letra_imagem.visible {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Retorna à posição original */
}

/* Responsividade */
@media (max-width: 768px) {
    .logo-container {
        padding: 20px;
    }

    .primeiro {
        height: 200px;
    }

    .section {
        padding: 20px 10px;
        max-width: 100%; /* As caixinhas ocupam a largura total em telas menores */
    }
}