<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DiVinno</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="icon" href="../static/img/Logo-1.png" type="image/x-icon">
</head>
<body>
    <div class="logo-container">
        <div>
            <img href="/" class="logo" src="{{ url_for('static', filename='img/Logo_page-0001.jpg') }}">
        </div>
        <div class="menu-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a href="{{ url_for('cardapio')}}" class="sobre">Cardapio</a></li>
            <div class="separator"></div>
            <li><a href="{{ url_for('contato')}}" class="contato">Contato</a></li>
        </ul>
    </div>

    <div class="primeiro">
        <h2 class="letra_imagem">"O melhor vinho, em qualquer horário e lugar"</h2>
    </div>

    <div class="section" id="mission">
        <h3>Missão</h3>
        <p>Nossa missão é oferecer vinhos de qualidade que proporcionem momentos inesquecíveis a nossos clientes, buscando sempre a excepcionalidade e a qualidade, tornando a vida de nossos consumidores cada vez melhor, sempre com um sorriso no rosto.</p>
    </div>

    <div class="section" id="vision">
        <h3>Visão</h3>
        <p>Ser referência no mercado de vinhos, com foco na excelência e no compromisso com a satisfação do cliente.</p>
    </div>

    <div class="section" id="values">
        <h3>Valores</h3>
        <p>A DiVinno busca sempre a melhor Qualidade, tendo sempre todo o compromisso e respeito ao cliente e à sustentabilidade.</p>
    </div>

    <script>
        // Scroll para o topo quando a página for recarregada
        window.onbeforeunload = function () {
            window.scrollTo(0, 0);
        };

        // Animação para o slogan e seções
        window.addEventListener('DOMContentLoaded', function() {
            const slogan = document.querySelector('.letra_imagem');
            slogan.classList.add('visible');

            const sections = document.querySelectorAll('.section');

            // Função para verificar se o dispositivo é móvel
            const isMobileDevice = () => {
                return window.innerWidth <= 768; // Ajuste conforme necessário
            };

            if (isMobileDevice()) {
                // Adiciona a classe visível para dispositivos móveis
                sections.forEach(section => {
                    section.classList.add('visible');
                });
            } else {
                // Para desktops, adicionar animação na rolagem
                window.addEventListener('scroll', function() {
                    sections.forEach(section => {
                        const rect = section.getBoundingClientRect();
                        if (rect.top < window.innerHeight - 50) {
                            section.classList.add('visible');
                        }
                    });
                });
            }
        });
    </script>
</body>
</html>